global
    log stdout format raw local0
    maxconn 200

defaults
    log global
    mode tcp
    retries 3
    timeout connect 5s
    timeout client 30m
    timeout server 30m
    timeout check 5s

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /

listen postgres_primary
    bind *:5000
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgres1 postgres1:5432 check port 8008
    server postgres2 postgres2:5432 check port 8008
    server postgres3 postgres3:5432 check port 8008
